
body{}

form{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  
}

header{
  background-color: #9AB368;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 5px 5px;
}

#content{
  padding: 20px 20px;
  background-color: #E8F2D7;
}

.form-group{
  margin-top: 15px;
  text-align: left;
}

.label-field{
  font-size: 14px;
  text-align: left;
  font-weight: bold;
}

#receive {
  width: 300px;
  font-weight: bold;
}

#you {
  font-size: 14px;
}

#your {
  font-size: 14px;
  text-align: center;
}

label {
  display: inline-block; 
  width: 120px;
}

input {
}

input[type="text"] {
  width: 230px;
}

#button {
  text-align: center;  
}

#myBtn {
  background-color: #65763A;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 8px; 
  height: 25px; 
}

textarea {
  width: 450px;
}
